/*
1.Write a selector to target the h1 in the first “hero” section
2.Write a selector to target every children of the navbar
3.Write a selector to target the “continue reading…” inside the jumbotron
4.Write a selector to target the first blogpost
5.Write a selector to target the first blogpost <hr> and turn it red
6.Write a selector to target the “even” links in the navbar
7.Write a selector to target all the <li> into the first ordered-list in the sidebar ( Archives )
8.Write a selector to target the second blog-post author
9.Write a selector to target the second <li> in the third blog-post unordered-list
10.Write a selector to target the “back to top” link you can find at the bottom-right corner
11.Write a selector to target the “Newer” button at the bottom
12.Write a selector to target the footer’s second link
13.Write a JavaScript functionality to add a new link into the navbar
14.Write a JavaScript functionality to change the color of the main heading title
15.Write a JavaScript functionality to change the background of the jumbotron
16.Write a JavaScript functionality to remove the “twitter” link under the “Elsewhere” section in the aside element. It should happen when the page loads, automatically
17.Write a JavaScript functionality to remove the first 50 characters in the first paragraph for every blog post
18.Write a JavaScript functionality to add a new Blog Post (div with title and text)
19.Write a JavaScript functionality to remove the last Blog Post when the user clicks on the “Older” button
20.Write a JavaScript functionality that will create an alert with the name of the author every time the user hovers the mouse on an author’s name
21.EXTRA Write a JavaScript functionality that will remove the corresponding parent card from the DOM, upon clicking on their “Continue reading” link
*/


/*1.Write a selector to target the h1 in the first “hero” section*/

.jumbotron h1 {
    color: pink;
}

/*2.Write a selector to target every children of the navbar*/

nav>span {
    color: green;
}

/*3.Write a selector to target the “continue reading…” inside the jumbotron*/

.jumbotron p a {
    background-color: violet;
}

/*4.Write a selector to target the first blogpost*/